.animation-loading .animation-loading-bar{
    display: flex;
    gap: 10px;
}

.animation-loading{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.animation-loading .animation-loading-bar div{
    width: 8px;
    height: 85px;
    border-radius: 4px;
    background: linear-gradient(180deg, #00FFFF 0%, #00DBFF 10%, #00BEFF 20.01%, #00AAFF 30.01%, #009DFF 40.01%, #0099FF 50.02%, #009DFF 60.02%, #00AAFF 70.02%, #00BEFF 80.03%, #00DBFF 90.03%, #00FFFF 100.04%);
    opacity: 0.25;
}

.animation-loading .progress-animation-loading p{
    color: var(--azul-claro);
    margin-top: 1em;
}

@media (max-width: 600px){
    .animation-loading .animation-loading-bar{
        gap: 8px;
    }
    .animation-loading .animation-loading-bar div{
        width: 4px;
        height: 65px;
        border-radius: 2px;
    }
}