
#about-us p{
    text-transform: uppercase;
    max-width: 52ch;
    line-height: 30px;
    letter-spacing: 4px;
}

#about-us p:nth-child(2){
    margin-top: 45px;
}

@media (max-width: 700px){
    #about-us p:nth-child(2){
        margin-top: 20px;
    }
}