#contact{
    position: relative;
}


#contact .grid-contact{
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    overflow: hidden;
}

#contact .grid-contact .info-contact div{
    margin-top: 55px;
}

#contact .grid-contact .info-contact div:first-child{
    margin-top: 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

#contact .grid-contact .info-contact div:first-child img{
    height: 50px;
    width: auto;
}

#contact .grid-contact .info-contact div:nth-child(4) ul{
    display: flex;
    gap: 20px;
}


#contact .grid-contact .form-contact #formContact{
    display: flex;
    flex-direction: column;
}

#contact .grid-contact .form-contact #formContact input,
#contact .grid-contact .form-contact #formContact textarea{
    border: 1px solid var(--azul-claro);
    height: 50px;
    max-width: 700px;
    background-color: rgba(0, 255, 255, 0.25);
    padding-left: 1em;
    padding-right: 1em;
    box-sizing: border-box;
    color: white;
    font-family: "Bender";  
}
#contact .grid-contact .form-contact #formContact textarea{
    height: 200px;
    padding-top: 1em;
}
#contact .grid-contact .form-contact #formContact input:focus{
    border: 2px solid var(--azul-claro);
}


#contact .grid-contact .form-contact #formContact label{
    margin-top: 28px;
    margin-bottom: 6px;
    color: var(--azul-claro);
    text-transform: uppercase;
    font-family: "Bender";
    font-size: 1.44rem;
}
#contact .grid-contact .form-contact #formContact label:first-child{
    margin-top: 0px;
}

#contact .grid-contact .form-contact #formContact div{
    margin-top: 18px;
    display: flex;
    justify-content: end;
}


#contact #digits-animated{
    position: absolute;
    top: 137px;
    z-index: -1;
    
}

#contact .grid-contact .info-contact .contact-list-icones{
    height: 40px;
}

#contact .grid-contact .info-contact .contact-list-icones ul li img{
    height: 25px;
    transition: all .5s;
}
#contact .grid-contact .info-contact .contact-list-icones ul li img:hover{
    height: 35px;
}


@media (max-width: 800px){
    #contact .grid-contact{
        grid-template-columns: 1fr;
    }
    #contact .grid-contact .info-contact{
        grid-row: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #contact .grid-contact .form-contact{
        grid-row: 1;
    }
    #contact .grid-contact .info-contact div{
        margin-top: 38px;
    }
    #contact .grid-contact .info-contact div:first-child{
        margin-top: 100px;
    }
}

@media (max-width: 600px){
    #contact .grid-contact .form-contact #formContact label{
        font-size: 1.003rem;
    }
    #contact .grid-contact .form-contact #formContact div{
        justify-content: center;
    }
    #contact .grid-contact .form-contact #formContact div button{
        width: 500px;
    }
}

@media (max-width: 500px){
    #contact #decoration-subtitle-contact{
        display: none;
    }
    #contact .grid-contact{
        margin-top: 34px;
    }
}